*{
    padding: 0;
    margin: 0;
}

body {
    background: rgb(217, 137, 14);
    /*background-image: url('images/color_bubbles.png');*/
}

.pos-text {
    color: black;
    position: relative;
    font-size: 20px;
    background: rgb(207, 61, 9);
}

.map_holder {
    position: absolute;
    left: 30vw;
    top: 10vh;
    border: 2px dashed black;
}

#map {
    display: block;
    width: 755px;
    height: 658px;
    
}